@import "utilities";
@import "config";
@import "mobile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

i {
  margin: 0 1rem;
}

// Header- Top

.header-top {
  background: #fff;
  border-bottom: 2px solid #f3f3f3;
  color: #888;
  font-size: 0.7rem;
  width: 100%;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Header-main
.header-main {
  background: #fff;

  .navbar-my {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

    .logo {
      width: 100px;
      display: block;
      margin-right: 5px;
    }
    ul {
      display: flex;
      text-transform: uppercase;
      font-size: 0.8rem;

      li {
        margin: 0 10px;
      }

      a {
        color: #333;
      }
    }

    .nav-wrapper {
      display: flex;
      align-items: center;
    }

    .search-div .sidenav-trigger {
      display: none;
    }
  }
}

// .showcase-slide
.showcase-slide {
  padding: 0 1rem;
  background-color: #fff;

  h3 {
    text-transform: uppercase;
  }
}

// Showcase-grid

.showcase-grid {
  background-color: #fff;
  h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  .grid-header {
    width: 100%;
    border-bottom: solid 1px #888;
  }

  .item img {
  }

  .item h5 {
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
  }

  .item p {
    text-align: center;
    margin: 1rem 0;
  }

  .item > div:first-child {
    border-bottom: 1px solid #888;
  }

  .item-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.link {
  margin-top: 5rem;

  .container {
    max-width: 600px;
  }
  .social-link {
    text-align: center;
    margin-bottom: 2rem;

    a {
      color: #333;
    }
  }

  .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }

  .links p {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .links a {
    color: #333;
  }
}

.footer-section {
  margin-bottom: 2rem;
  img {
    width: 100%;
  }

  .my-container .img-div {
    width: 20%;
    margin: 0 auto;
    padding: 1rem;
  }

  .footer-content {
    width: 60%;
    margin: 0 auto;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center;

    // align-items: center;

    p {
      font-size: 0.8rem;
    }

    a {
      font-size: 0.8rem;
    }
  }
}
